<%- include('./partials/head.ejs')  %> 


<body>
    <h1 class="title">Authenticate me</h1>

    <form action="" method="post">
        <label for="name">Username</label>
        <input type="text" name="name" placeholder="name" id="name">

        <label for="password">Password</label>
        <input type="password" name="name" placeholder="name" id="name">
    </form>
</body>
</html>