<%- include('./partials/head.ejs') %>

<section>
  <a href="/signup" class="home__button">Create an account</a>
  <a href="/signin" class="home__button">Sign in</a>
</section>

<%- include('./partials/foot.ejs') %>
