<%- include('./partials/head.ejs') %>

<section class="authentication">
  <form action="" method="post" class="authentication__form">
    <label for="email">E-mail</label>
    <input type="text" email="email" placeholder="email" id="email" />

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="password" id="password" />

    <button type="submit" class="authentication__button">Submit</button>
  </form>
</section>

<%- include('./partials/foot.ejs') %>
