<%- include('./partials/head.ejs') %>

<section class="authentication">

  <form action="" method="post" class="authentication__form">

    <label for="username">Username</label>
    <input type="text" name="username" placeholder="username" id="username" />

    <label for="email">E-mail</label>
    <input type="text" email="email" placeholder="email" id="email" />

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="password" id="password" />
    <p class="password__instructions">min 8 charac., at least 1 upper., 1 lower, 1 special char. </p>

    <label for="passwordConfirm">Confirm your password</label>
    <input type="password" name="passwordConfirm" placeholder="please confirm password" id="password-confirm" />

    <button type="submit" class="authentication__button">Submit</button>
  </form>

</section>

<%- include('./partials/foot.ejs') %>
